.pagination {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  list-style: none;
  margin: 0 0 2rem 2px;
  padding: 0;
}

.pagination a,
.pagination span {
  -moz-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: solid 2px;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  height: 3rem;
  letter-spacing: 0.075em;
  line-height: calc(3rem - 4px);
  margin-left: -2px;
  min-width: 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination .next,
.pagination .previous {
  text-decoration: none;
  padding: 0 1.75rem;
}

.pagination .next:before,
.pagination .previous:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.pagination .next:before,
.pagination .previous:before {
  display: inline-block;
  color: inherit !important;
  line-height: inherit;
}

.pagination .previous:before {
  content: "\f104";
  margin-right: 0.9375em;
}

.pagination .next:before {
  content: "\f105";
  float: right;
  margin-left: 0.9375em;
}

@media screen and (max-width: 980px) {
  .pagination a,
  .pagination span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .pagination .page,
  .pagination .extra {
    display: none;
  }
}

.pagination a,
.pagination span {
  border-color: #eeeeee;
}

.pagination a {
  color: #212931 !important;
}

.pagination a:hover {
  color: #18bfef !important;
  border-color: #18bfef;
  z-index: 1;
}

.pagination a:hover + a,
.pagination a:hover + span {
  border-left-color: #18bfef;
}

.pagination a.active {
  background-color: #eeeeee;
}

.pagination span {
  color: #eeeeee;
}

section.augs {
  position: absolute;
  inset: 0;
  margin: auto;
  --aug-inlay: initial;
  --aug-inlay-all: 2px;
  --aug-inlay-bg: url(http://augmented-ui.com/img/propjockey.png) center 70% /
    auto 70% no-repeat;
  --aug-inlay-opacity: 0.25;
}
section.augs::before {
  filter: brightness(0.2) blur(10px);
}
/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header {
  cursor: default;
}

header > .date {
  display: block;
  font-size: 0.8rem;
  height: 1;
  margin: 0 0 1rem 0;
  position: relative;
}

header > p {
  font-style: italic;
}

header > h1 + p {
  font-size: 1.1rem;
  margin-top: -0.5rem;
  line-height: 2;
}

header > h2 + p {
  font-size: 1rem;
  margin-top: -0.75rem;
}

header > h3 + p {
  font-size: 0.9rem;
  margin-top: -0.75rem;
}

header > h4 + p {
  font-size: 0.8rem;
  margin-top: -0.75rem;
}

header.major {
  margin: 0 0 4rem 0;
  text-align: center;
}

header.major > :last-child {
  margin-bottom: 0;
}

header.major > p {
  margin-top: 0;
  text-align: center;
}

header.major > .date {
  font-size: 1rem;
  margin: 0 0 4rem 0;
}

header.major > .date:before,
header.major > .date:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: calc(50% - 6rem);
  border-top: solid 2px;
}

header.major > .date:before {
  left: 0;
}

header.major > .date:after {
  right: 0;
}

@media screen and (max-width: 980px) {
  header br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  header.major {
    margin: 0 0 2rem 0;
  }
}

header.major .date:before,
header.major .date:after {
  border-top-color: #eeeeee;
}
