<div id="wrapper" class="fade-in">

<app-header></app-header>

<app-nav></app-nav>

  <div id="main">
    <article *ngFor="let project of pagedProjects" class="post featured">
      <header class="major">
        <h2>{{ project.title }}</h2>
        <h3>{{ project.subtitle }}</h3>
        <p>{{ project.description }}</p>
      </header>
      <a [href]="project.link" class="image main">
        <img [src]="project.image" [alt]="project.title" />
      </a>
      <ul class="actions special">
        <li><a [href]="project.link" class="button large">View Project</a></li>
      </ul>
    </article>

    <!-- Pagination -->
    <footer>
      <div class="pagination">
        <a (click)="previousPage()" [class.disabled]="currentPage === 1"
          >Prev</a
        >
        <span
          *ngFor="let page of pages"
          (click)="goToPage(page)"
          [class.active]="page === currentPage"
          >{{ page }}</span
        >
        <a (click)="nextPage()" [class.disabled]="currentPage === totalPages"
          >Next</a
        >
      </div>
    </footer>
  </div>
</div>
