<app-header></app-header>

<app-nav></app-nav>
<div id="main">
  <!-- Featured Project -->
  <article class="post featured" *ngIf="featuredProject">
    <header class="major">
      <h2>
        <a [href]="featuredProject.link">{{ featuredProject.title }}</a>
      </h2>
      <h3>{{ featuredProject.subtitle }}</h3>
      <p>
        {{ featuredProject.description }}
        <br />
        <span>
          The project can be found on this github
          <a [href]="featuredProject.link" target="_blank">link</a>.
        </span>
      </p>
    </header>
    <a [href]="featuredProject.link" class="image main">
      <img [src]="featuredProject.image" [alt]="featuredProject.title" />
    </a>
    <!-- <ul class="actions special">
      <li>
        <a [href]="featuredProject.link" class="button large disabled"
          >View Project</a
        >
      </li>
    </ul> -->
  </article>

  <!-- Other Projects Grid -->
  <section class="posts">
    <article *ngFor="let project of otherProjects" class="article_unit">
      <header>
        <h2>
          <a [href]="project.link">{{ project.title }}</a>
        </h2>
        <h3>{{ project.subtitle }}</h3>
      </header>
      <a [href]="project.link" class="image fit">
        <img [src]="project.image" [alt]="project.title" />
      </a>
      <p>
        {{ project.description }}
        <br />
        <span>
          The project can be found on this github
          <a [href]="project.link" target="_blank">link</a>.
        </span>
      </p>
      <!-- <ul class="actions special">
        <li>
          <a [href]="project.link" class="button disabled">View Project</a>
        </li>
      </ul> -->
    </article>
  </section>

  <!-- Pagination -->
  <footer>
    <div class="pagination">
      <a
        (click)="previousPage()"
        [class.disabled]="currentPage === 1"
        class="previous"
        >Prev</a
      >

      <a
        *ngFor="let page of pages"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
        class="page"
        href="javascript:void(0)"
      >
        {{ page }}
      </a>

      <a
        (click)="nextPage()"
        [class.disabled]="currentPage === totalPages"
        class="next"
        >Next</a
      >
    </div>
  </footer>
</div>
