<div id="wrapper" class="fade-in">
  <div id="intro">
    <h1>Khaled Guesmi<br />Portfolio</h1>
    <br />
    <p>
      <span class="image left">
        <img src="images/khaled.jpg" alt="this is my personal picture" />
      </span>
      <br />
      A highly motivated <strong>Junior Full Stack Engineer</strong> with
      hands-on experience in <code><strong>.NET</strong></code> and
      <code><strong>Angular</strong></code
      >, specializing in digital payment solutions. Seeking to leverage my
      technical skills and passion for innovative financial technologies in a
      dynamic team to contribute to the development of secure, scalable, and
      user-friendly payment platforms.
      <br />
      Experienced developer and passionate game developer
      (<code>Unity</code>).<br />
      Well versed in <code>Unity3D Engine</code>, <code>Blender</code>,
      <code>C#</code>, <code>Kotlin</code> , <code>Java</code> ,
      <code>C++</code>,<code>Python</code>.<br />
      Find more about me
      <a href="https://github.com/Thunderkilll">&#64;Khaled_Guesmi</a>
    </p>
    <ul class="actions">
      <li>
        <a href="#header" class="button icon solid solo fa-arrow-down scrolly">
          Continue
        </a>
      </li>
    </ul>
  </div>
</div>
