<div id="intro">
  <h1>Khaled Guesmi<br />Portfolio</h1>
  <br />
  <p>
    <span class="image left">
      <img src="images/khaled.jpg" alt="this is my personal picture" />
    </span>
    <br />
     A highly motivated <strong>Junior Full Stack Engineer</strong> with hands-on experience in <strong>.NET</strong> and <strong>Angular</strong>, specializing in digital payment solutions. Seeking to leverage my technical skills and passion for innovative financial technologies in a dynamic team to contribute to the development of secure, scalable, and user-friendly payment platforms. 
    <br />
    Experienced developer and passionate game developer (Unity).<br />
    Well versed in Unity3D Engine, Blender, C#, Kotlin, Java, C++, Python.<br />
    Find more about me
    <a href="https://github.com/Thunderkilll">&#64;Khaled_Guesmi</a>
  </p>
  <ul class="actions">
    <li>
      <a href="#header" class="button icon solid solo fa-arrow-down scrolly">
        Continue
      </a>
    </li>
  </ul>
</div>
